body{
    background-color: #F5F5F5;
}
/* Custom breakpoints */
@media (max-width: 640px) {
    .container {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  
  /* Smooth scrolling */
  html {
    scroll-behavior: smooth;
  }
  
  /* Image optimization */
  img {
    max-width: 100%;
    height: auto;
  }